h1 {
    font-size: 90px;
    font-family: 'Libre Baskerville', serif;
    color: #373333;
}

h2 {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    color: #373333;
}

h3 {
    font-size: 67px;
    font-family: 'Libre Baskerville', serif;
    color: #000000;
}

h4 {
    font-size: 28px;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

h5 {
    font-size: 65px;
    font-family: 'Libre Baskerville', serif;
    color:white;
}

h6 {
    font-size: 65px;
    font-family: 'Libre Baskerville', serif;
    color:black;
}

ul {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    color:black;
}

h7 {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    color: #7d5944;
}

h8 {
    font-size: 72px;
    font-family: 'Libre Baskerville', serif;
    color: #7d5944;
    font-weight: bolder

}

h9 {
    font-size: 55px;
    font-family: 'Libre Baskerville', serif;
    color: #7d5944;
}

p {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    color: #7d5944;
}

nav a {
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    color:  #7d5944;
}

h10 {
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    color:white;
}

a {
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    color: #7d5944;
}