h1{
    font-family: 'Cabin Condensed';
    font-size:3em;
    color: #fafafa;
    
} 
    

h2{
    font-family: 'Cabin Condensed';
    font-size: 1.5em;
    font-weight:bold;
    color: #0e171a;
}

h3{
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
    font-weight:bold;
    color: #0e171a;
}


p{
    font-family: 'Open Sans';
    font-size: 16px;
    color: #0e171a;
}

a:link{
    color: #b2322d;
}

ul{
    font-family:'Open Sans';
    font-size:16px;
    color: #0e171a;
}

h4{
    font-family: 'Cabin Condensed';
    font-size: 1.25em;
    color: #b2322d;
}