h1{
    font-family: 'ABeeZee', sans-serif;
    font-size: 3em;
    color: #b24518;

}

p{
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    color: black;

}

a{
    font-family: 'ABeeZee', sans-serif;
    font-size: 1em;
    color: black;  
}


